.authorizedPage {

  .description {
    margin-top: 8px;
  }

  .counter {
    margin-top: 16px;
    span {
      font-style: italic;
      font-weight: bold;
    }
  }

  .btn {
    margin-top: 16px;
  }

}
